/* Golbal code start  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #020914;
}

h2 {
  font-size: 80px;
  color: #fff;
}

h3 {
  font-size: 30px;
  color: var(--main-color);
}

p {
  font-size: 30px;
  color: #fff;
}

:root {
  --main-color: #009eff;
  --mainColor: #fff;
}

.row {
  padding: 0px;
}
/* Golbal code end  */

/* Header css code start  */
Header {
  padding: 0px 140px;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: var(--main-color);
}
Header .navbar-light .navbar-nav .nav-link.active {
  color: var(--main-color);
}
Header .navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  padding: 0px 40px;
}

.icon-header .fab {
  color: var(--main-color);
  padding: 0px 20px;
  font-size: 20px;
}

Header .navbar-light .navbar-toggler {
  background: #fff;
  color: rgba(0, 0, 0, 0.55);
}

/* Header css code end  */

/* Banner css code start  */

.section {
  padding: 20px 140px;
  background-color: #000000;
}

.content-banner h1 {
  color: #fff;
  font-size: 180px;
  font-weight: bold;
  line-height: 0.4;
}

.content-banner h4 {
  font-size: 180px;
  font-weight: bold;
  -webkit-text-stroke: 3px #fff;
  line-height: 1.2;
  color: #000;
}

.content-banner p {
  font-size: 16px !important;
  line-height: 1.6;
  margin-top: 30px;
}

.content-banner button {
  border: 4px solid var(--main-color);
  padding: 15px 50px;
  border-radius: 50px;
  color: #fff;
  margin-top: 40px;
}

.content-banner button:hover {
  color: var(--main-color);
}

/* Banner css code end  */

/* WHO WE ARE css code start */

.sec-centent {
  padding: 50px 140px;
}

.sec-centent h2 {
  padding: 20px 0px 0px 0px;
}

.sec-centent span {
  display: flex;
  justify-content: end;
  width: 84%;
  margin-bottom: 30px;
}

.sec-centent h3 {
  padding: 10px 0px;
}

/* WHO WE ARE code end  */
/* Trusted By Clients css code start  */
.trd-centent {
  padding: 50px 140px;
}

.trd-centent span {
  display: flex;
  justify-content: end;
  width: 81%;
  margin-bottom: 30px;
}

.side_Padding {
  padding: 0 150px;
}

.paddgin_one {
  padding: 30px 0;
}

/* hover_Section */

.hover_Section {
  background: linear-gradient(255.68deg, #007fcc 28.27%, #039efe 99.65%);
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-out;
}

.hover_Section h1 {
  font-weight: bold;
  font-size: 80px;
  color: var(--mainColor);
}

.See_all_clients {
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  border: 2px solid var(--mainColor);
  border-radius: 30px;
  background-color: transparent;
  color: var(--mainColor);
}

.hover_icons_div img {
  width: 120px;
  height: auto;
}

.hover_effect {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: relative;
}

.hover_div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 10;
  transform: scale(0);
  transition: all 0.2s ease;
}

.hover_effect img {
  z-index: 20;
}

.hover_effect:hover .hover_div {
  background-color: var(--mainColor);
  transform: scale(1);
}

.hover_effect img:nth-child(2) {
  margin-bottom: -80px;
  opacity: 0;
  transition: all 0.2s ease;
}

.hover_effect:hover img:nth-child(2) {
  margin-bottom: 0;
  opacity: 1;
  transition: all 0.2s ease;
}

.hover_effect:hover img:nth-child(1) {
  margin-top: -80px;
  opacity: 0;
  transition: all 0.2s ease;
}

/* hover_Section */

/* Trusted By Clients css code end  */
/* our expertise css code start  */
.fr-centent {
  padding: 50px 140px;
}

.fr-centent span {
  display: flex;
  justify-content: end;
  width: 76%;
  margin-bottom: 30px;
}

.get::after {
  content: "";
  display: block;
  border-bottom: 8px solid var(--main-color);
  width: 14%;
  margin-top: -18px;
}

.get1::after {
  content: "";
  display: block;
  border-bottom: 8px solid var(--main-color);
  width: 40%;
  margin-top: -18px;
}
.section1 {
  padding: 0px 140px;
}

.our-content h5 {
  font-size: 25px;
  color: #fff;
}

.our-content span {
  color: var(--main-color);
}

.my-btn {
  padding: 15px 50px;
  border-radius: 50px;
  color: #fff;
  background-color: var(--main-color);
  margin-top: 20px;
  font-weight: bold;
}
.card-bg {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  margin: 100px 0px;
}
.card-bg1 {
  background-image: url(../images/bg-1.png);
  background-repeat: no-repeat;
  margin: 100px 0px;
}
.card-bg2 {
  background-image: url(../images/bg-2.png);
  background-repeat: no-repeat;
  margin: 100px 0px;
}
.card-centent {
  padding: 50px;
}
/* our expertise css code end  */

/* Work process css code start  */
.box-part {
  background: #041229;
  padding: 60px 20px;
  border-radius: 12px;
}
.box-part h5 {
  color: var(--main-color);
  margin: 20px 0px;
  font-size: 30px;
}
.box-part .text {
  font-size: 18px;
  color: #fff;
}
.count {
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 2px var(--main-color);
  position: absolute;
  margin-left: 20px;
}

/* Work process css code end  */

/* our work css code start  */
.span-img span {
  display: flex;
  justify-content: end;
  width: 80%;
  margin-bottom: 30px;
}

.work-centent {
  padding: 0px 0px 30px 0px;
}
.work-centent h5 {
  font-size: 80px;
  -webkit-text-stroke: 4px #fff;
  color: #000;
  line-height: 0.6;
}
.work-centent h2 {
  font-size: 60px !important;
}
.work-centent p {
  font-size: 16px !important;
  color: #fff;
  padding-left: 200px;
}

.work-centent-sec {
  padding: 30px 0px 0px 0px;
}
.work-centent-sec h5 {
  font-size: 80px;
  -webkit-text-stroke: 4px #fff;
  color: #000;
  line-height: 0.6;
}
.work-centent-sec h2 {
  font-size: 60px !important;
}
.work-centent-sec p {
  font-size: 16px !important;
  color: #fff;
  padding-right: 200px;
}

/* our work css code end  */

/* PORTFOLIO css code start  */
.Portfolio-centent {
  padding: 100px 300px;
}
.portfolio .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--main-color);
  padding: 15px 60px;
  border-radius: 50px;
  font-weight: bold;
}
.portfolio .nav-pills .nav-link {
  background: #041228;
  border-radius: 50px;
  padding: 15px 60px;
  color: #fff;
}
/* PORTFOLIO css code end  */

/* Testimonial css code start  */

.testimonial-card {
  background-color: #041228;
  padding: 50px 25px;
  border-radius: 12px;
}

.testimonial-card h4 {
  font-size: 40px;
  color: #fff;
  margin-top: 10px;
}

.testimonial-card h5 {
  font-size: 20px;
  color: var(--main-color);
}

.testimonial-card p {
  font-size: 16px !important;
  color: #fff;
  margin: 20px 0px;
}

.testimonial .carousel-indicators [data-bs-target] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.testimonial .carousel-indicators {
  margin-bottom: -5rem;
}
/* Testimonial css code end  */

/* Contact us css code start  */
.contact-us {
  background-color: #041228;
  border-left: 100px solid #020914;
}

.contact-img {
  position: relative;
  left: -190px;
}
.contact-padding {
  padding: 0px 140px 50px 140px;
}
.accordion-tab {
  padding: 50px 50px 50px 0px;
}



.accordion-tab h4 {
  font-size: 30px;
  color: #fff;
  padding: 20px 0px;
}
.accordion-tab .accordion-item {
  border: none;
  border-top: 4px solid #fff;
  border-radius: 0px;
}
.accordion-tab .accordion-button:focus {
  border-color: #041228;
}
.accordion-tab .accordion-button:not(.collapsed) {
  background-color: #041228;
}
.accordion-tab .accordion-button:not(.collapsed) {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.accordion-tab .accordion-body {
  background-color: #041228;
}
.accordion-tab .accordion-button:not(.collapsed)::after {
  background-image: url(../images/cx.png);
}
.accordion-tab .accordion-button::after {
  background-image: url(../images/plus.png);
}
.accordion-tab .accordion-button {
  background-color: #041228;
  color: #fff;
  font-size: 22px;
  padding: 30px 20px;
}
.accordion-tab strong {
  font-weight: normal;
  color: #fff;
  font-size: 20px;
}

/* Contact us css code end  */

/* footer css code start  */

footer {
  padding: 50px 140px 20px 140px;
}
.footer-link h4 {
text-transform: uppercase;
color: #fff;
font-size: 24px;
}

.footer-link h5 {
  margin-bottom: 30px;
  font-size: 16px;
}
.footer-link h4::after {
  content: '';
  display: block;
  width: 40%;
  border-bottom: 3px solid var(--main-color);
  margin-top: 5px;
}

.footer-link h5 a {
  text-decoration:  none;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  padding: 20px 0px;
}
.footer-link h5 a:hover {
  color: var(--main-color);
  transition: all 0.5s;
}
.footer-link p {
  font-size: 16px !important;
  font-weight: normal;
}

.footer-link form {
  margin-top: 40px;
}
.footer-link .form-control {
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 11px RGBA(13,83,231,0.20);
}

.footer-link button {
  padding: 15px 40px;
  border-radius: 50px;
}
.copyright p {
color: #fff;
font-size: 18px  !important;
}
.footer-icon .fab {
  color: var(--main-color);
  padding: 0px 20px;
  font-size: 20px;
}
/* footer css code end  */




/* about css code start  */
.about-sec {
  padding: 50px 140px;
}

.about-sec h2 span {
  color: var(--main-color);
  font-weight: bold;
}


.point-centent  li {
font-size: 20px;
color: #fff;
padding: 30px 10px;
}
/* about css code end  */

/* about card css code start  */
.card-section-about {
  padding: 50px 140px;
}

.about-card {
  background-color: #041228;
  border-radius: 12px;
  padding: 40px;
  height: 350px;
}
.about-card h4 {
  font-size: 30px;
  color: #fff;
}
.about-card h4 span {
  color: var(--main-color);
}
.about-card p {
  font-size: 16px !important;
}
/* about card css end  */



/* Portfolio page css start  */


.Portfolio_deta  h4 {
font-size: 30px;
color: var(--main-color);
}

.Portfolio_deta  h6 {
  font-size: 24px;
  color: #fff;
}

.Portfolio_centent_info h4 {
font-size: 80px;
color: #fff;
}

.Portfolio_centent_info span {
  font-size: 140px;
  -webkit-text-stroke: 3px var(--main-color);
  color: #020914;
}
.Portfolio_centent_info ul li {
  font-size: 30px;
  color: var(--main-color);
}
 .info-end {
  border-left: 6px solid var(--main-color);
  padding-left: 50px;
  margin: 50px 0px;
} 
 .info-end h5 {
  font-size: 40px;
  color: #fff;
}

 .info-end h6 {
  color: var(--main-color);
  font-size: 24px;
}

.bg_img-port {
  background-color: #041228;
  padding: 0px;
  border-radius: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.info_img_port {
 position: absolute;
 padding: 30px;
}
.info_img_port ul li {
  font-size: 20px;
 color: #fff;
 list-style: none;
}
.info_img_port ul li::before {
  content: "\2022";
  color: var(--main-color);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  font-size: 30px;
  margin-left: -1em;
}

.hr {
  color: #fff;
  height: 3px;
  background: #fff;
  margin-top: 50px;
}

.icon-pre-next h4 {
  font-size: 30px;
  color: #fff;
  margin: 50px 0px;
}
.icon-pre-next i {
  color: var(--main-color);
}

.bg-img-bottam {
  background-image: url(../images/port-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 140px;
  background-color: #041228;
}

.bg-img-bottam h4 {
  font-size: 30px;
  color: #fff;
}
.bg-img-bottam h4 span {
  color: var(--main-color);
}
.btn-portfolio {
  padding: 15px 50px;
  background: var(--main-color);
  color: #fff;
  border: 0px;
  border-radius: 50px;
}

.related-section {
  padding: 100px 140px;
}
/* .portfolio page css end  */
